# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 始于珞尘
subtitle: 从中二到中三
description:
author: Hongbo Liu
language: zh-CN
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://hiberabyss.github.io
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

sitemap:
    path: sitemap.xml
baidusitemap:
  path: baidusitemap.xml
  url: https://hbliu.coding.me

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - baidu_verify*.html
  - google*.html
  - slides/**

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 1
render_drafts: false
post_asset_folder: true
relative_link: false
future: true

highlight:
  enable: true
  line_number: false
  auto_detect: true

# prism_plugin:
  # mode: 'preprocess'    # realtime/preprocess
  # theme: 'dark'
  # line_number: false    # default false

mathjax: true

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: maupassant-hexo

plugin:
  - hexo-generator-feed
  - hexo-generator-sitemap

feed:
  type: atom
  path: atom.xml
  limit: 0

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  - type: git
    repo: git@github.com:hiberabyss/hiberabyss.github.io.git
    branch: master
  - type: git
    repo: git@git.coding.net:hbliu/hbliu.coding.me.git
    branch: master

marked:
  gfm: true
  pedantic: false
  sanitize: false
  tables: true
  breaks: false
  smartLists: true
  smartypants: true

html_minifier:
  enable: true
  exclude:
css_minifier:
  enable: true
  exclude: 
    - '*.min.css'
js_minifier:
  enable: true
  mangle: true
  output:
  compress:
  exclude: 
    - '*.min.js'

server:
  log: false

recommended_posts:
  enable: true
  internalLinks: 4
  externalLinks: 1
  autoDisplay: false
  excludePattern: ["davidfnck.com"]

nofollow:
	enable: true

githubEmojis:
  enable: false
  className: github-emoji
  unicode: false
  styles:
    display: inline
    vertical-align: bottom
  localEmojis:
